.idea
.DS_Store
.env.prd
.netlify
.redwood
.snaplet/structure.d.ts
snaplet.config.js
.snaplet/snapshots
.env

bytes.log

snapshot-worker/bin
dev.db
dist
api/bin
api/cloudSnapshots
api/logs
cdk.out
cdk.outputs.json
cdk.context.json
cdk.outputs.json
cli/bin
cli/dist
dist-babel
node_modules
yarn-error.log
web/public/mockServiceWorker.js
web/public/snapshots
debug.log
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo

data/
!cli/src/commands/generate/actions/data
test-results/

# https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.tmp-earthly-out

tmp/
logs/

.turbo
.dts
snaplet.config.d.ts
tsconfig.snaplet.tsbuildinfo
out

.parcel-cache
.snaplet/snaplet.d.ts
cli/scripts/predictions/.yarn/*

docs/.next
docs/node_modules
